.container{
  width: 100%;
}
.content{
  display: flex;
  flex-direction: column;
  min-width: 100%;
  padding: 60px;
 margin-top: 50px;
 /* height: 500px; */
 justify-content: center;
}
.content-header{
  display: flex;
  flex-direction: column;
  align-items: center;


}
input[type='number'] {
 
 min-width: 150px;
  height: 30px;
  padding: 5px;
  margin: 5px;
 
  border: 1px solid #ccc;
  border-radius: 5px;
 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  /* Change background and font colors */
  background-color: #f9f9f9;
  color: #333;

  cursor: text;

  -moz-appearance: textfield;
}

input[type='text'] {
 
  min-width: 150px;
   height: 30px;
   padding: 5px;
   margin: 5px;
  
   border: 1px solid #ccc;
   border-radius: 5px;
  
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
   /* Change background and font colors */
   background-color: #f9f9f9;
   color: #333;
 
   cursor: text;
 
   -moz-appearance: textfield;
 }
/* Adjust appearance of spin buttons (for Firefox) */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Adjust appearance of spin buttons (for Chrome) */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
.content-header_search{
  display: flex;
  justify-content: center;
  align-items: center;
}
.content_header_filter{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

}
.list_of_JOb_list{
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  /* background-color: aquamarine; */
  justify-content: flex-start;

}
select{
  min-width: 200px;
  margin-left: 10px;
 height: 30px;
    padding: 5px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    color: #333;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

/* Styling the spinner */
.loader {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

/* Keyframe animation */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}